.PostCard{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.64);
    gap: 1rem;
}

.postImage{
    width: 100%;
    max-height: 20rem;
    object-fit: fill;
    border-radius: 0.5rem;

}

.reactions{
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    cursor: pointer;
    color:  #ff6b6b;
    
}
.postTop{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.postTop>img{
    border-radius: 50%;
    width: 3rem;
    height: 3rem
}

.postUsername{
    display: flex;
    font-weight: bold;
}
.popupContainer{
    background-color: white;
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 10px;
    z-index: 9999;
    width: max-content;
}

.postText{
    font-size: small;
}


.slick-next:before {
  color: #bababa!important;

}

.slick-prev:before{
    color: #bababa!important;
}

.slick-next{
    margin-right: 3px;
}

.slick-prev{
    margin-left: 3px;
}

/* remove hover effect */
.slick-next:hover, .slick-prev:hover {
    display: none!important;
}


