.leftbarList{
    padding: 0;
    margin: 0;
    list-style: none;

}

.leftbarListItem{
    display: flex;
    color: #4A4EB7;
    align-items: center;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.leftbarIcon{
    margin-right: 0.5rem;
}

a {
    text-decoration: none;
    transition: color 0.3s ease; 
  }
  
a:hover {
    color: #007bff; 
}

.leftbarLink.active {
    color: #007bff; 
    font-weight: bold; 
  }
  
  