.AuthorSearch{
    display: flex;
    gap: 0.75rem;
    background-color:  rgba(40, 52, 62, 0.07);
    border-radius: 10px;
    padding: 5px;
}
.AuthorSearch>input{
    background-color: transparent;
    border: none;
    outline: none;
    width: 90%;
}
.searchIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(98.63deg, #ef5757 0%, #e1ae4a 100%);
    border-radius: 5px;
    padding: 4px;
    margin-left: 1rem;
    margin-right: 1rem;
    color: white;
}
.searchIcon:hover{
    cursor: pointer;
}

.popup-content {
    margin: auto;
    background: rgb(255, 255, 255);
    width: 50%;
    padding: 5px;
  }
  .popup-arrow {
    color: rgb(255, 255, 255);
  }
  [role='tooltip'].popup-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }
  
  .popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  [data-popup='tooltip'].popup-overlay {
    background: transparent;
  }
